.header {
    height: 200px;
    width: 1140px;
    line-height: 80px;
    border-bottom: thin lightgrey solid;
}

.header .header--title {
    font-size: 75px;
    padding-left: 5px;
    color: white;
}

.logo{
}

.inputs {
    height: 30px;
}

.inputs .inputs--drop {
    padding-left: 5px;
    width: 250px;
    color: black;
}

.inputs .inputs--date {
    padding-left: 5px;
    height: 30px;
    width: 250px;
    color: black;
}

.outputs {
    height: 1200px;
}

table {
border-collapse: collapse;
width: 80%;
margin: 20px auto;
font-family: sans-serif;
}

th, td {
border: 1px solid #ddd;
padding: 10px;
text-align: center;
}

th {
background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
background-color: #f8f8f8;
}

h4{
text-align: center;
font-size: 32px;
font-family: sans-serif;
}
